
body {background-color: lightgray ; color: white; }

.banner {width: 1000px; height: 20vh;}
.banner-box { border: 5px white solid; width: 1000px; height: 20vh; margin-left: 25%; margin-right: 20%; }

button { background-color: lightblue; color: white; }
.buttons { display: flex; justify-content: center;}

.forms { display: flex; justify-content: center;}

.input-box { width: 600px;}

.inline { display: flex; display: inline-block; margin-right: 50px;}

.button-space {padding: 5px;}